@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 86%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

/*=================================
  main styling starts here
=================================*/
main {
  background-color: #E6EFF6;
}

.community {
  padding: 172px 0;
}

.community .wrapper {
  width: 44%;
  border-radius: 10px;
  box-shadow: 2px 2px 50px -15px #CCC;
  background-color: #FFF;
  overflow: hidden;
}

/*styling for card start here*/
.card {
  border-radius: 5px;
}

/*styling for card top start here*/
.card-top,
.subcription,
.why-us {
  padding: 42px 6.5%;
}

h1 {
  color: #2BB3B1;
  font-size: 25.4px;
  font-weight: 700;
}

p {
  margin-top: 8px;
  color: #9397A2;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.sub-heading {
  margin-top: 23px;
  color: #BFDF32;
  font-size: 19px;
  font-weight: 700;
}

/*styling for card top end here*/
/*styling for card bottom start here*/
.card-bottom {
  display: flex;
}

/*styling for subcription start here*/
.subcription {
  background-color: #2BB3B1;
  color: #FFF;
  flex-basis: 50%;
}

h2 {
  font-size: 19px;
  font-weight: 700;
}

.subcription p {
  margin-top: 22px;
  color: #FFF;
}

.subcription p:nth-child(2) {
  color: #63D6D3;
  display: flex;
  align-items: center;
}

.subcription p:nth-child(3) {
  margin-top: 8px;
  color: #FFF;
  font-size: 16px;
}

.price {
  margin-right: 6%;
  color: #FFF;
  font-size: 34px;
  font-weight: 700;
}

.sign-up {
  margin-top: 28px;
  border-radius: 5px;
  box-shadow: 2px 2px 30px -15px #000;
  background-color: #BFDF32;
  text-align: center;
}

.sign-up a {
  padding: 17px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}

/*styling for subcription end here*/
/*styling for why us start here*/
.why-us {
  background-color: #4ABEBD;
  color: #FFF;
  flex-basis: 50%;
}

.why-us ul {
  margin-top: 20px;
  display: flex;
  color: #A9F1EE;
  flex-direction: column;
}

.why-us li {
  font-size: 15px;
  line-height: 21px;
}

/*styling for card bottom end here*/
/*styling for card end here*/
/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 768px) {
  .card-bottom {
    flex-direction: column;
  }
}